# Terraform files
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars

# Python files
__pycache__/
*.pyc

# Virtual environment
venv/

# Build / zip files
*.zip

# OS files
.DS_Store.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
